body {
    font-family: 'Nova Slim', cursive;
    background-image: url("../images/science.jpg");
    background-size: cover;
}

header, #start-msg, #time-container {
    color: gold;
    font-weight: bold;
}

#start-img {
    border-radius: 100%;
    border: 5px solid yellowgreen;
}

#start-msg {
    background: radial-gradient(darkblue, white);
    border-radius: 50%;
    height: 48px;
}

header, #time-container, #end-msg {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

#announcement {
    width: 50%;
    border-radius: 50%;
}

#time-container {
    border: 3px double gold;
    background-color: gray;
    border-radius: 25px;
}

#q-container {
    font-family: "Impact";
    color: teal;
    border: 3px solid teal;
    background-color: #ffffff;
    border-radius: 25px;
}

#choice-container {
    border: 3px double gold;
    background-color: #ffffff;
    border-radius: 25px;
}

.choices {
    border-radius: 100%;
    cursor: pointer;
}

#c1:hover {
    background: radial-gradient(darkred, white);
    color: #ffffff;
}

#c2:hover {
    background: radial-gradient(gold, white);
}

#c3:hover {
    background: radial-gradient(green, white);
    color: #ffffff;
}

#c4:hover {
    background: radial-gradient(blue, white);
    color: #ffffff;
}

#c5:hover {
    background: radial-gradient(purple, white);
    color: #ffffff;
}

#message {
    background-color: #ffffff;
    border: 3px double gold;
}

#score {
    color: gold;
    border: 3px solid gold;
    border-radius: 25px;
    background-color: #aaaaaa;
}

.final-screen {
    color: orange;
    border: 3px double gold;
    background-color: #eeeeee;
    border-radius: 25px;
}

#correct {
    color: green;
}

#incorrect {
    color: orangered;
}

footer {
    color: #ffffff;
    background-color: #666666;
    height: 40px;
}